@{
    ViewData["Title"] = "Каталог";
    var products = ViewBag.Products;
    int cat_id = Convert.ToInt32(ViewBag.CategoryId);
    bool check = ViewBag.check;
    string path = ViewBag.Path;
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-4">
    <div class="row row-cols-2 row-cols-sm-1 gap-3">
        @{
            if (check)
            {
                
                foreach (var item in products)
                {
                    if(item.category_id == cat_id)
                    {
                        <div class="card rounded" style="width: 25rem; height: 35rem; background-color: #E6E6FA">
                            <div class="card-body align-content-center">
                                <img class="card-img " src="@item.pic_link">
                                <p class="card-text">@item.product_name</p>
                                <p class="card-text">@item.price₽</p>
                                <a class="btn btn-success" href="/Home/AddToCart?ID=@item.id&Path=@path">Добавить в корзину</a>
                            </div>
                        </div>
                    }
                }
            } else {
                foreach (var item in products)
                {
                    <div class="card rounded" style="width: 25rem; height: 35rem; background-color: #E6E6FA">
                        <div class="card-body align-content-center">
                            <img class="card-img " src="@item.pic_link">
                            <p class="card-text">@item.product_name</p>
                            <p class="card-text">@item.price₽</p>
                            <a class="btn btn-success" href="/Home/AddToCart?ID=@item.id&Path=@path">Добавить в корзину</a>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
