@{
    ViewData["Title"] = "Каталог";
    var products = ViewBag.Products as List<EldoMvideo.Models.Product>;
    int cat_id = Convert.ToInt32(ViewBag.CategoryId);
    bool check = ViewBag.check;
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-4">
    <div class="row row-cols-2 row-cols-sm-1 gap-3">
        @{
            if (check)
            {
                foreach (var item in products)
                {
                    if(item.category_id == cat_id)
                    {
                        <div class="card rounded" style="width: 25rem; height: 35rem; background-color: #E6E6FA">
                            <div class="card-body align-content-center">
                                <img class="card-img " src="@Html.DisplayFor(modelItem => item.pic_link)">
                                <p class="card-text">@Html.DisplayFor(modelItem => item.product_name)</p>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.price)₽</p>
                                <form asp-action="Add" asp-controller="Cart" method="post">
                                    <button type="submit" class="btn btn-primary">
                                        Добавить в корзину
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                }
            } else {
                foreach (var item in products)
                {
                    <div class="card rounded" style="width: 25rem; height: 35rem; background-color: #E6E6FA">
                        <div class="card-body align-content-center">
                            <img class="card-img " src="@Html.DisplayFor(modelItem => item.pic_link)">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.product_name)</p>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.price)₽</p>
                            <form asp-action="Add" asp-controller="Cart" method="post">
                                <button type="submit" class="btn btn-primary">
                                    Добавить в корзину
                                </button>
                            </form>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
