@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@{
    Account user_account = ViewBag.Account;
    User user_name = ViewBag.User;
    Role user_role = ViewBag.Role;
    List<Order> orders = ViewBag.Orders;
    List<ProductOrder> productOrders = ViewBag.ProductOrders;
    List<Product> products = ViewBag.Products;
    List<Category> categories = ViewBag.Categories;
    List<Account> accounts = ViewBag.Accounts;
    List<Delivery> deliveries = ViewBag.Deliveries;
    List<Role> roles = ViewBag.Roles;
    List<User> users = ViewBag.Users;
    
    var result = (from po in productOrders
        join p in products on po.product_id equals p.id
        join c in categories on p.category_id equals c.id
        group po by c.category into g
        select new
        {
            CategoryName = g.Key,
            ProductOrderCount = g.Count()
        }).ToList();
    
    var resultJson = JsonConvert.SerializeObject(result);
    
    var ordersByMonth = (from po in productOrders
        join o in orders on po.order_id equals o.id
        join p in products on po.product_id equals p.id
        group new { po, p } by o.order_date.Month into g
        select new
        {
            Month = g.Key,
            OrderCount = g.Count(),
            TotalPrice = g.Sum(x => x.p.price * x.po.quantity)
        }).OrderBy(x => x.Month).ToList();
    
    var ordersByMonthJson = JsonConvert.SerializeObject(ordersByMonth);

}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
    <h3>Роль: @user_role.role_name</h3>
    <p>Имя: @user_name.first_name</p>
    <p>Отчество: @user_name.middle_name</p>
    <p>Фамилия: @user_name.last_name</p>
</div>

@switch(user_account.role_id) {
    case 1:
        <h2>История заказов</h2>
        <div>
            @foreach(var ord in orders){
                @if(ord.account_id == user_account.id){
                    <div class="card" style="margin-top: 1em; background-color: #E6E6FA">
                        <h5>Заказ от @ord.order_date</h5>
                        <ul>
                            @foreach(var po in productOrders){
                                if(po.order_id == ord.id){
                                    <li>@products.Where(p => p.id == po.product_id).FirstOrDefault().product_name @po.quantity x @products.Where(p => p.id == po.product_id).FirstOrDefault().price </li>
                                }
                            }
                        </ul>
                        <h5>Итого: @ord.total_sum</h5>
                    </div>
                    <hr/>
                }
            }
        </div>
        break;
    case 2:
        <div id="products">
            <div id="add">
                <h2 style="margin-top: 1em">Добавление продукта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="AddProduct" asp-controller="Account" method="post">
                        <div>
                            <label>Название продукта</label>
                            <input type="text" class="form-control" name="product.product_name" placeholder="Название" required>
                        </div>
                        <div>
                            <label>Категория</label>
                            <select class="form-select" name="product.category_id" aria-label="Default select example" required>
                                @foreach (var cat in categories)
                                {
                                    <option value="@cat.id">@cat.category</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Картинка</label>
                            <input type="text" class="form-control" name="product.pic_link" placeholder="Ссылка на картинку" required>
                        </div>
                        <div>
                            <label>Цена продукта</label>
                            <input type="number" class="form-control" name="product.price" placeholder="Цена" required>
                        </div>
                        <div style="margin-top: 1rem">
                            <input class="form-check-input" type="checkbox" name="product.hot">
                            <label class="form-check-label" for="flexCheckDefault">
                                Бестселлер
                            </label>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="upd">
                <h2 style="margin-top: 1em">Редактирование продукта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="UpdateProduct" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор продукта</label>
                            <select class="form-select" name="product.id" aria-label="Default select example">
                                @foreach(var prod in products){
                                    <option value="@prod.id">@prod.product_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Название продукта</label>
                            <input type="text" class="form-control" name="product.product_name" placeholder="Название">
                        </div>
                        <div>
                            <label>Категория</label>
                            <select class="form-select" name="product.category_id" aria-label="Default select example">
                                @foreach(var cat in categories){
                                    <option value="@cat.id">@cat.category</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Картинка</label>
                            <input type="text" class="form-control" name="product.pic_link" placeholder="Ссылка на картинку">
                        </div>
                        <div>
                            <label>Цена продукта</label>
                            <input type="number" class="form-control" name="product.price" placeholder="Цена">
                        </div>
                        <div style="margin-top: 1rem">
                            <input class="form-check-input" type="checkbox" name="product.hot">
                            <label class="form-check-label" for="flexCheckDefault">
                                Бестселлер
                            </label>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Обновить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="del">
                <h2 style="margin-top: 1em">Удаление продукта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="DeleteProduct" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор продукта</label>
                            <select class="form-select" name="product.id" aria-label="Default select example" required>
                                @foreach(var prod in products){
                                    <option value="@prod.id">@prod.product_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Удалить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="users">
            <div id="add">
                <h2 style="margin-top: 1em">Добавление пользователя</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="AddUser" asp-controller="Account" method="post">
                        <div>
                            <label>Имя пользователя</label>
                            <input type="text" class="form-control" name="user.first_name" placeholder="Имя" required>
                        </div>
                        <div>
                            <label>Отчество пользователя</label>
                            <input type="text" class="form-control" name="user.middle_name" placeholder="Отчество">
                        </div>
                        <div>
                            <label>Фамилия пользователя</label>
                            <input type="text" class="form-control" name="user.last_name" placeholder="Фамилия" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="upd">
                <h2 style="margin-top: 1em">Редактирование пользователя</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="UpdateUser" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор пользователя</label>
                            <select class="form-select" name="user.id" aria-label="Default select example">
                                @foreach(var user in users){
                                    <option value="@user.id">@user.first_name @user.middle_name @user.last_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Имя пользователя</label>
                            <input type="text" class="form-control" name="user.first_name" placeholder="Имя">
                        </div>
                        <div>
                            <label>Отчество пользователя</label>
                            <input type="text" class="form-control" name="user.middle_name" placeholder="Отчество">
                        </div>
                        <div>
                            <label>Фамилия пользователя</label>
                            <input type="text" class="form-control" name="user.last_name" placeholder="Фамилия">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Обновить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="del">
                <h2 style="margin-top: 1em">Удаление пользователя</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="DeleteUser" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор пользователя</label>
                            <select class="form-select" name="user.id" aria-label="Default select example" required>
                                @foreach(var user in users){
                                    <option value="@user.id">@user.first_name @user.middle_name @user.last_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Удалить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="roles">
            <div id="add">
                <h2 style="margin-top: 1em">Добавление роли</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="AddRole" asp-controller="Account" method="post">
                        <div>
                            <label>Название роли</label>
                            <input type="text" class="form-control" name="role.role_name" placeholder="Название роли" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="upd">
                <h2 style="margin-top: 1em">Редактирование роли</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="UpdateRole" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор роли</label>
                            <select class="form-select" name="role.id" aria-label="Default select example">
                                @foreach(var role in roles){
                                    <option value="@role.id">@role.role_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Название роли</label>
                            <input type="text" class="form-control" name="role.role_name" placeholder="Название роли">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Обновить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="del">
                <h2 style="margin-top: 1em">Удаление роли</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="DeleteRole" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор роли</label>
                            <select class="form-select" name="role.id" aria-label="Default select example" required>
                                @foreach(var role in roles){
                                    <option value="@role.id">@role.role_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Удалить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="productorders">
            <div id="add">
                <h2 style="margin-top: 1em">Добавление заказа продукта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="AddProductOrder" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор продукта</label>
                            <select class="form-select" name="productOrder.product_id" aria-label="Default select example" required>
                                @foreach(var product in products){
                                    <option value="@product.id">@product.product_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Выбор заказа</label>
                            <select class="form-select" name="productOrder.order_id" aria-label="Default select example" required>
                                @foreach(var order in orders){
                                    <option value="@order.id">@order.id</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Количество</label>
                            <input type="number" class="form-control" name="productOrder.quantity" placeholder="Количество" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="upd">
                <h2 style="margin-top: 1em">Редактирование заказа продукта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="UpdateProductOrder" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор заказа продукта</label>
                            <select class="form-select" name="productOrder.id" aria-label="Default select example">
                                @foreach(var productOrder in productOrders){
                                    <option value="@productOrder.id">@productOrder.product_id - @productOrder.order_id</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Выбор продукта</label>
                            <select class="form-select" name="productOrder.product_id" aria-label="Default select example">
                                @foreach(var product in products){
                                    <option value="@product.id">@product.product_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Выбор заказа</label>
                            <select class="form-select" name="productOrder.order_id" aria-label="Default select example">
                                @foreach(var order in orders){
                                    <option value="@order.id">@order.id</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Количество</label>
                            <input type="number" class="form-control" name="productOrder.quantity" placeholder="Количество">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Обновить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="del">
                <h2 style="margin-top: 1em">Удаление заказа продукта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="DeleteProductOrder" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор заказа продукта</label>
                            <select class="form-select" name="productOrder.id" aria-label="Default select example" required>
                                @foreach(var productOrder in productOrders){
                                    <option value="@productOrder.id">@productOrder.product_id - @productOrder.order_id</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Удалить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="orders">
            <div id="add">
                <h2 style="margin-top: 1em">Добавление заказа</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="AddOrder" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор аккаунта</label>
                            <select class="form-select" name="order.account_id" aria-label="Default select example" required>
                                @foreach(var account in accounts){
                                    <option value="@account.id">@account.acc_login</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Выбор доставки</label>
                            <select class="form-select" name="order.delivery_id" aria-label="Default select example" required>
                                @foreach(var delivery in deliveries){
                                    <option value="@delivery.id">@delivery.address</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Дата заказа</label>
                            <input type="date" class="form-control" name="order.order_date" placeholder="Дата заказа" required>
                        </div>
                        <div>
                            <label>Сумма заказа</label>
                            <input type="number" class="form-control" name="order.total_sum" placeholder="Сумма заказа" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="upd">
                <h2 style="margin-top: 1em">Редактирование заказа</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="UpdateOrder" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор заказа</label>
                            <select class="form-select" name="order.id" aria-label="Default select example">
                                @foreach(var order in orders){
                                    <option value="@order.id">@order.id</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Выбор аккаунта</label>
                            <select class="form-select" name="order.account_id" aria-label="Default select example">
                                @foreach(var account in accounts){
                                    <option value="@account.id">@account.acc_login</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Выбор доставки</label>
                            <select class="form-select" name="order.delivery_id" aria-label="Default select example">
                                @foreach(var delivery in deliveries){
                                    <option value="@delivery.id">@delivery.address</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Дата заказа</label>
                            <input type="date" class="form-control" name="order.order_date" placeholder="Дата заказа">
                        </div>
                        <div>
                            <label>Сумма заказа</label>
                            <input type="number" class="form-control" name="order.total_sum" placeholder="Сумма заказа">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Обновить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="del">
                <h2 style="margin-top: 1em">Удаление заказа</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="DeleteOrder" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор заказа</label>
                            <select class="form-select" name="order.id" aria-label="Default select example" required>
                                @foreach(var order in orders){
                                    <option value="@order.id">@order.id</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Удалить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="deliveries">
            <div id="add">
                <h2 style="margin-top: 1em">Добавление доставки</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="AddDelivery" asp-controller="Account" method="post">
                        <div>
                            <label>Адрес доставки</label>
                            <input type="text" class="form-control" name="delivery.address" placeholder="Адрес доставки" required>
                        </div>
                        <div>
                            <label>Дата доставки</label>
                            <input type="date" class="form-control" name="delivery.delivery_date" placeholder="Дата доставки" required>
                        </div>
                        <div>
                            <label>Время доставки</label>
                            <input type="time" class="form-control" name="delivery.delivery_time" placeholder="Время доставки" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="upd">
                <h2 style="margin-top: 1em">Редактирование доставки</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="UpdateDelivery" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор доставки</label>
                            <select class="form-select" name="delivery.id" aria-label="Default select example">
                                @foreach(var delivery in deliveries){
                                    <option value="@delivery.id">@delivery.address</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Адрес доставки</label>
                            <input type="text" class="form-control" name="delivery.address" placeholder="Адрес доставки">
                        </div>
                        <div>
                            <label>Дата доставки</label>
                            <input type="date" class="form-control" name="delivery.delivery_date" placeholder="Дата доставки">
                        </div>
                        <div>
                            <label>Время доставки</label>
                            <input type="time" class="form-control" name="delivery.delivery_time" placeholder="Время доставки">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Обновить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="del">
                <h2 style="margin-top: 1em">Удаление доставки</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="DeleteDelivery" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор доставки</label>
                            <select class="form-select" name="delivery.id" aria-label="Default select example" required>
                                @foreach(var delivery in deliveries){
                                    <option value="@delivery.id">@delivery.address</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Удалить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="categories">
            <div id="add">
                <h2 style="margin-top: 1em">Добавление категории</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="AddCategory" asp-controller="Account" method="post">
                        <div>
                            <label>Название категории</label>
                            <input type="text" class="form-control" name="category.category" placeholder="Название категории" required>
                        </div>
                        <div>
                            <label>Описание категории</label>
                            <input type="text" class="form-control" name="category.descript" placeholder="Описание категории">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="upd">
                <h2 style="margin-top: 1em">Редактирование категории</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="UpdateCategory" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор категории</label>
                            <select class="form-select" name="category.id" aria-label="Default select example">
                                @foreach(var category in categories){
                                    <option value="@category.id">@category.category</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Название категории</label>
                            <input type="text" class="form-control" name="category.category" placeholder="Название категории">
                        </div>
                        <div>
                            <label>Описание категории</label>
                            <input type="text" class="form-control" name="category.descript" placeholder="Описание категории">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Обновить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="del">
                <h2 style="margin-top: 1em">Удаление категории</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="DeleteCategory" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор категории</label>
                            <select class="form-select" name="category.id" aria-label="Default select example" required>
                                @foreach(var category in categories){
                                    <option value="@category.id">@category.category</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Удалить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="accounts">
            <div id="add">
                <h2 style="margin-top: 1em">Добавление аккаунта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="AddAccount" asp-controller="Account" method="post">
                        <div>
                            <label>Логин аккаунта</label>
                            <input type="text" class="form-control" name="account.acc_login" placeholder="Логин аккаунта" required>
                        </div>
                        <div>
                            <label>Пароль аккаунта</label>
                            <input type="password" class="form-control" name="account.password" placeholder="Пароль аккаунта" required>
                        </div>
                        <div>
                            <label>Выбор роли</label>
                            <select class="form-select" name="account.role_id" aria-label="Default select example" required>
                                @foreach(var role in roles){
                                    <option value="@role.id">@role.role_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Выбор пользователя</label>
                            <select class="form-select" name="account.user_id" aria-label="Default select example" required>
                                @foreach(var user in users){
                                    <option value="@user.id">@user.first_name @user.middle_name @user.last_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="upd">
                <h2 style="margin-top: 1em">Редактирование аккаунта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="UpdateAccount" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор аккаунта</label>
                            <select class="form-select" name="account.id" aria-label="Default select example">
                                @foreach(var account in accounts){
                                    <option value="@account.id">@account.acc_login</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Логин аккаунта</label>
                            <input type="text" class="form-control" name="account.acc_login" placeholder="Логин аккаунта">
                        </div>
                        <div>
                            <label>Пароль аккаунта</label>
                            <input type="password" class="form-control" name="account.password" placeholder="Пароль аккаунта">
                        </div>
                        <div>
                            <label>Выбор роли</label>
                            <select class="form-select" name="account.role_id" aria-label="Default select example">
                                @foreach(var role in roles){
                                    <option value="@role.id">@role.role_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Выбор пользователя</label>
                            <select class="form-select" name="account.user_id" aria-label="Default select example">
                                @foreach(var user in users){
                                    <option value="@user.id">@user.first_name @user.middle_name @user.last_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Обновить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="del">
                <h2 style="margin-top: 1em">Удаление аккаунта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="DeleteAccount" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор аккаунта</label>
                            <select class="form-select" name="account.id" aria-label="Default select example" required>
                                @foreach(var account in accounts){
                                    <option value="@account.id">@account.acc_login</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Удалить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        break;
    case 3:
        <canvas id="PieChart" style="margin-top:1rem; margin-bottom: 1rem; width: 10%; height:  10%"></canvas>

        <script>
            var result = @Html.Raw(@resultJson);
            
            var categories = result.map(item => item.CategoryName);
            var counts = result.map(item => item.ProductOrderCount);
            
            var ctx = document.getElementById('PieChart').getContext('2d');
            var PieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: categories,
                    datasets: [{
                        label: 'Количество заказов по категориям',
                        data: counts,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(153, 102, 255, 0.6)',
                            'rgba(255, 159, 64, 0.6)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Количество заказов по категориям'
                        }
                    }
                }
            });
            
            PieChart.toBase64Image('image/jpeg', 1);
        </script>
        
        <canvas id="ordersByMonthChart" width="400" height="200" style="margin-top:1rem; margin-bottom: 1rem"></canvas>
        
        <script>
            var ordersByMonth = @Html.Raw(@ordersByMonthJson);

            var monthLabels = [
                "January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
            ];
            var orderCounts = new Array(12).fill(0);

            ordersByMonth.forEach(item => {
                orderCounts[item.Month - 1] = item.OrderCount;
            });

            var ctx = document.getElementById('ordersByMonthChart').getContext('2d');
            var ordersByMonthChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: monthLabels,
                    datasets: [
                        {
                            label: 'Количество заказов',
                            data: orderCounts,
                            backgroundColor: 'rgba(54, 162, 235, 0.6)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 0.5,
                            barPercentage: 0.4,
                            categoryPercentage: 0.8
                        }
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        title: {
                            display: true,
                            text: 'Количество и сумма заказов по месяцам'
                        }
                    },
                    scales: {
                        x: {
                            stacked: false
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
        
        <button class="btn btn-info" id="downloadButton">Скачать графики</button>
        
        <script>
            document.getElementById('downloadButton').addEventListener('click', function() {
                @{ string todaydate = DateOnly.FromDateTime(DateTime.Today).ToString();
                   todaydate = JsonConvert.SerializeObject(todaydate); }
                
                const { jsPDF } = window.jspdf;
                const doc = new jsPDF();
                
                function addChartToPdf(chart, x, y, width, height) {
                    return new Promise((resolve) => {
                        const imgData = chart.toBase64Image();
                        doc.addImage(imgData, 'PNG', x, y, width, height);
                        resolve();
                    });
                }
                
                Promise.all([
                    addChartToPdf(PieChart, 5, 5, 200, 200),
                    doc.addPage(),
                    addChartToPdf(ordersByMonthChart, 5, 5, 200, 100),
                ]).then(() => {
                    doc.save('charts-' + @Html.Raw(@todaydate) + '.pdf');
                });
            });
        </script>
        
        <div id="products">
            <div id="add">
                <h2 style="margin-top: 1em">Добавление продукта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="AddProduct" asp-controller="Account" method="post">
                        <div>
                            <label>Название продукта</label>
                            <input type="text" class="form-control" name="product.product_name" placeholder="Название" required>
                        </div>
                        <div>
                            <label>Категория</label>
                            <select class="form-select" name="product.category_id" aria-label="Default select example" required>
                                @foreach(var cat in categories){
                                    <option value="@cat.id">@cat.category</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Картинка</label>
                            <input type="text" class="form-control" name="product.pic_link" placeholder="Ссылка на картинку" required>
                        </div>
                        <div>
                            <label>Цена продукта</label>
                            <input type="number" class="form-control" name="product.price" placeholder="Цена" required>
                        </div>
                        <div style="margin-top: 1rem">
                            <input class="form-check-input" type="checkbox" name="product.hot">
                            <label class="form-check-label" for="flexCheckDefault">
                                Бестселлер
                            </label>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="upd">
                <h2 style="margin-top: 1em">Редактирование продукта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="UpdateProduct" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор продукта</label>
                            <select class="form-select" name="product.id" aria-label="Default select example">
                                @foreach(var prod in products){
                                    <option value="@prod.id">@prod.product_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Название продукта</label>
                            <input type="text" class="form-control" name="product.product_name" placeholder="Название">
                        </div>
                        <div>
                            <label>Категория</label>
                            <select class="form-select" name="product.category_id" aria-label="Default select example">
                                @foreach(var cat in categories){
                                    <option value="@cat.id">@cat.category</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label>Картинка</label>
                            <input type="text" class="form-control" name="product.pic_link" placeholder="Ссылка на картинку">
                        </div>
                        <div>
                            <label>Цена продукта</label>
                            <input type="number" class="form-control" name="product.price" placeholder="Цена">
                        </div>
                        <div style="margin-top: 1rem">
                            <input class="form-check-input" type="checkbox" name="product.hot">
                            <label class="form-check-label" for="flexCheckDefault">
                                Бестселлер
                            </label>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Обновить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="del">
                <h2 style="margin-top: 1em">Удаление продукта</h2>
                <div class="card" style="margin-top: 1em; background-color: #E6E6FA; padding: 1em">
                    <form asp-action="DeleteProduct" asp-controller="Account" method="post">
                        <div>
                            <label>Выбор продукта</label>
                            <select class="form-select" name="product.id" aria-label="Default select example" required>
                                @foreach(var prod in products){
                                    <option value="@prod.id">@prod.product_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem; font-size: 1rem">
                                Удалить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        break;
}